.container-head{
    background-color: aliceblue;
}

#recherche_conteneur{
    margin-top: 2%;
}

#sfmenu {
    display: flex;
}

#sfmenu>li>a {
    line-height: 45px;
    text-align: center;
}

#sfmenu li ul {
    display: none;
}

#sfmenu>li:hover ul {
    display: block;
    padding: 0;
    background-color: rgba(242,246,248,1);
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1000;
}

#fil ul li {
    list-style: none;
}

.fond-bleu{
    background-color: #2d5986;
    color: white;
    font-size: 15px;
    background-size: 80px 60px;
    border-radius: 9px 9px 0 0;
    height: 35px;
    padding: 7px;
}


.police-bleue{
    color: #4080bf;
}

#background_centre {
    height: 110%;
    padding: 7px;
    background-color: #f2f2f2;
    border-radius: 0 0 7px 7px;
    box-shadow:3px 3px 3px #888;
}

#background_centre ul li {
   list-style: none; 
}

.fond-rouge{
    background-color: #990000;
    color: white;
    font-size: 13px;
    border-radius: 9px 9px 0 0;
    height: 35px;
    padding: 7px;
}

#background_astuces{
    width: 105%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow:3px 3px 3px #888;
}

#background_astuces ul li{
    font-size: 13px;
    list-style: none;
}


#background_actualites{
    width: 105%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow:3px 3px 3px #888;
}

#background_actualites ul li {
   list-style: none; 
    font-size: 13px;
}

.date{
    color: darkred;
    font-weight: bold;
}

#background_footer{
    background-color: #009de6;
    color: white;
    width: 100%;
    padding: 7px;
}

#images_pied{
    padding: 7px;
}

#fin_du_pied{
    background-color: #005780;
    width: 100%;
    color: black;
    border-radius: 0 0 7px 7px;
    margin-bottom: 3px;
}

#fin_du_pied {
    text-align: center;
}

#fin_du_pied a {
    color: white;
}
