.container-head{
    background-color: aliceblue;
}

#recherche_conteneur{
    margin-top: 2%;
}

#sfmenu li{
    list-style: none;
    background-color: #f2f2f2;
}

#sfmenu li ul li{
    visibility: hidden;
    display: block;
    position: absolute;
}

#fil ul li {
    list-style: none;
}

.fond-bleu{
    background-color: #2d5986;
    color: white;
    font-size: 18px;
    background-size: 80px 60px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

}
.police-bleue{
    color: #4080bf;
    font-weight: bold;
}

#background_centre {
    background-color: #f2f2f2;
    border-radius: 10px;
}

#background_centre ul li {
   list-style: none; 
}

.fond-rouge{
    background-color: #990000;
    color: white;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

#background_astuces{
    background-color: #f2f2f2;
    border-radius: 10px;    
}

#background_astuces ul li {
   list-style: none; 
}

#background_actualites{
    background-color: #f2f2f2;
    border-radius: 10px;    
}

#background_actualites ul li {
   list-style: none; 
}